<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
  </system.web>
  <connectionStrings>
    <add name="TeamAConnection" providerName="System.Data.SqlClient" connectionString="Data Source=LAPTOP106;Initial Catalog=TeamA;Integrated Security=SSPI;" />
  </connectionStrings>
  <appSettings>
    <add key="UploadPath" value="~/Uploads/"/>
  </appSettings>
</configuration>