body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    /*background: url("images/background.png");*/ 
    /*background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);*/
}

/*.jumbotron{
    background:transparent;
}*/
.page-header{
    width:76em !important;
}

/*.table{
    width:76em !important;
}*/

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
.wrap {
	height:auto !important;
	height:100%;
	min-height:100%;
	background:url(../images/tail-middle.jpg) repeat-y center 194px;
	min-width:940px;
}
