@model IEnumerable<AccessModels.Models.StudentToHomework>


<div class="container">
    @Html.ActionLink("See in PDF", "GenerateReportStudAvgGradePDF", "Teacher", null, new { @class = "btn btn-primary btn-sm text-right pdfButton" })
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

            <table class="table">
                <thead>
                    <tr class="success">
                        <th>StudentName</th>
                        <th>Grade</th>
                        <th>Comment</th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="info">
                            <td>@Html.DisplayFor(modelItem => item.StudentName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Grade)</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
