@model System.Collections.Generic.IEnumerable<BusinessLayer.Models.HomeworkVM>
@{
        ViewBag.Title = "Raports";
        Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    }
    <h2>Raports</h2>
   

    <div id="ReportDiv">


</div>


@*@Ajax.ActionLink("Student Average Grade", "GetStudentsAvgGradeByTeacher", new AjaxOptions()
{
    HttpMethod = "Get",
    UpdateTargetId = "ReportDiv",
    InsertionMode = InsertionMode.Replace

})*@

<input type="button" class="btn" id="GetStudentsAvgGradeByTeacher" value="Student Average Grade" />

@*Ajax.ActionLink(" students grade by homework", "GetStudentsGradeByTeacherAndHomework" , new ajaxoptions()
       {
       httpmethod="Get" ,
       updatetargetid="ReportDiv" ,
       insertionmode=InsertionMode.Replace
       })*@><div class="form-group row">
    <div class="col-sm-2">
       
    </div>
    <div class="col-sm-4">
        <select class="form-control col-sm-2" name="HomeworkID" id="sel1">

            @foreach (var item in Model)
            {

                <option value="@item.HomeworkID">@item.Name</option>
            }
        </select>
    </div>
</div>

<div id="tableDiv">
</div>

<script>
    $(document).ready(function () 
    {
        $("#GetStudentsAvgGradeByTeacher").on("click", function () {
            $.ajax
            ({
                url: "@Url.Action("GetStudentsAvgGradeByTeacher", "Teacher")",
                method: "GET",
                success: function (data, textStatus, XMLHttpRequest) 
                {
                    alert(data);
                    $("#tableDiv").html(data);
                }
            })
        })
    })

</script>