@model IEnumerable<BusinessLayer.Models.HomeworkVM>

@{
    ViewBag.Title = "ViewOneTeacherHomeworks";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}


<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-6 text-left">
                <div class="previous">
                    <h2>All Homeworks</h2>
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <div class="next">                 
                    <button type="button" class="btn btn-primary btn-sm text-right pdfButton" onclick="">See in PDF</button>
                </div>
            </div>
        </div>
    </div>
    
    <p>
        @Html.ActionLink("Create New", "CreateHomework")
    </p>
</div>

<div>
    @Html.Partial("_ListHomeworks", Model)
    <p>
        @Html.ActionLink("Back to Index", "Index", "Teacher")

    </p>
</div>



<script type="text/javascript">

    $(".pdfButton").click(function () {
        location.href = '/Teacher/GenerateHomeworkPDF';
    });


</script>

