@model TeamA.Models.TeacherVM
@using BusinessLayer;
@{
    ViewBag.Title = "CreateTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
  

   
    @*<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>*@




@using (Html.BeginForm("CreateTeacher","Admin")) 
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);
    
    
    
    <div class="container">
    <div class="page-header">
        <h1>Create Teacher</h1>
    </div>
</div>

    <div class="container">

        <div class="row-fluid">
            <div class="span6">
                <div class="span6 pull-left">
                    <form role="form">
                        <div class="form-group">
                            <label for="usr">Username</label>
                            <input type="text" name="username" class="form-control" id="usr" placeholder="Enter username" required>
                        </div>
                        <div class="span6 pull-left">
                        </div>


                        <div class="form-group">
                            <label for="em">Email</label>
                            <input type="email" name="Email" value="" class="form-control" id="em" placeholder="username@email.com" required />

                        </div>
                        <p>
                            <input type="submit" class="btn btn-primary" value="Create new Teacher Account">
                        </p>
                    </form>
                </div>
        </div>
 
        </div>
           </div>
    
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>