@if (Session["SessionUser"] != null)
{
    <text>
        Hello, @Html.ActionLink((string)Session["SessionUser"], "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOut", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Log off">
        }
    </text>
}
else
{
    
    <div class="row-fluid">
        <div class="span6">
            <div class="span6 pull-right">
    <div class="btn-group">
   
        <button type="button" class="btn btn-default">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </button>
    

   
        <button type="button" class="btn btn-default">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button>
    
        </div>
                </div>
            </div>
        </div>
        
    
}
